body {
  background-color: #ffe6b3;
}

h2{
  font-family:cursive;
  color: #660000;
}

h3{
  font-style: italic;
  color: #660000;
}

p {
  font-family: sans-serif;
}

.header {
  color: gray;
  text-shadow: black 0.4em 0.4em 0.4em;
}

.jumbotron {
  margin-bottom: 1px;
  background-image: url(../img/pizza-cover.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: gray;
  text-shadow: black 0.3em 0.3em 0.3em;
}

.img {
  float: center;
  width: 200px;
  border: 2px solid #b2b2b2;
  padding: 4px;
  margin: 12px;
}

.img-display {
  width: 300px;
  padding: 4px;
  margin: 12px;
}

.btn {
  margin-top: 10px;
}

.name{
  color: red;
  text-shadow: black 0.5em 0.5em 0.5em;
}

.footer {
  text-align: center;
  font-style: italic;
}

#show-price {
  display: none;
}
